@use "../abstracts" as *;

.stories {
  display: grid;
  grid-template-columns: 1fr;

  @include mq(sm) {
    grid-template-columns: 1fr 1fr;
  }
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-block: rem(120);
  gap: rem(10);
  padding-inline: rem(10);
  @include mq(xl) {
    gap: rem(80);
    padding-inline: rem(160);
  }
}
