@use "../abstracts" as *;

.stories {
  display: grid;
  grid-template-columns: 1fr;

  @include mq(sm) {
    grid-template-columns: 1fr 1fr;
  }
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: rem(120) rem(60);
  gap: rem(80);
}
