@use "../../sass/abstracts" as *;

.article {
  display: flex;
  flex-direction: column;
  color: var(--light);
  overflow: hidden;
  background-color: var(--light);
  color: var(--dark);
  &.dark {
    background-color: var(--dark);
    color: var(--light);
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(16);
    padding: rem(72) rem(32);

    .wrapper {
      max-width: rem(387);
      .text {
        opacity: 0.6;
      }
    }
  }

  .btn {
    padding-left: 0;
  }

  @include mq(md) {
    flex-direction: row;

    &.rtl {
      flex-direction: row-reverse;
    }
  }
}
