@use "../../sass/abstracts" as *;

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: rem(350);
  img {
    margin-bottom: rem(48);
  }
  .title {
    margin-bottom: rem(16);
  }

  .description {
    opacity: 0.6;
  }
}
